.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: rgb(245, 243, 243);
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

img {
    height: 300px;
    border-radius: 5px;
}

form {
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 3px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.form-outline.success input {
    border-color: hsl(154, 59%, 51%);
}

.danger{
    border-color: hsl(0, 100%, 74%) ;
}
.danger i.fa-exclamation-circle {
    color: hsl(0, 100%, 74%);
}
.danger small{
    color: hsl(0, 100%, 74%);
}

.form-outline i {
    float: right;
    margin-top: -30px;
    margin-right: 10px;
}