<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="assets/image.png">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          
          <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()"> 
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0 text-white">
                Get a real life experience of basketball Players, Coaches and the teams.
              </p>
            </div>
            
            <!-- First name input -->
            <div class="form-outline mb-3">
                <input  type="text"
                        class="form-control form-control-lg"
                        formControlName="firstName"
                        placeholder="First Name"
                        >
                <span class="danger" 
                      *ngIf="(registerFormControl['firstName'].touched || submitted) 
                      && registerFormControl['firstName'].errors?.['required']
                      " >
                      <i class="fa fa-exclamation-circle"></i>
                      <small>Please enter first name</small>
                </span>

                <!-- <i class="fa fa-check-circle"></i>
                <i class="fa fa-exclamation-circle"></i>
                <small>Error message</small> -->
              </div>
              
              <!-- Last Name input -->
              <div class="form-outline mb-3">
                <input  type="text"
                        class="form-control form-control-lg"
                        formControlName="lastName"
                        placeholder="Last Name">
                <span class="danger" 
                      *ngIf="(registerFormControl['lastName'].touched || submitted) 
                      && registerFormControl['lastName'].errors?.['required']" >

                      <i class="fa fa-exclamation-circle"></i>
                      <small>Last Name is required</small>
                </span>
                <!-- <i class="fa fa-check-circle"></i>
                <i class="fa fa-exclamation-circle"></i>
                <small>Error message</small> -->
              </div>
              
              <!-- Email input -->
            <div class="form-outline mb-3">
                <input  type="text" 
                        class="form-control form-control-lg"
                        placeholder="Eamil address" 
                        formControlName="email">
                <span class="danger" 
                      *ngIf="(registerFormControl['email'].touched || submitted) 
                      && registerFormControl['email'].errors?.['required']">
                      <i class="fa fa-exclamation-circle"></i>
                      <small>Email is required</small>
                </span>
                <span class="danger" 
                      *ngIf="registerFormControl['email'].touched
                       && registerFormControl['email'].errors?.['email']">
                      <i class="fa fa-exclamation-circle"></i>
                      <small>Please enter a valid email</small>
                </span>
                <!-- <i class="fa fa-check-circle"></i>
                <i class="fa fa-exclamation-circle"></i>
                <small>Error message</small> -->
            </div>

            <!-- Password input -->
            <div class="form-outline mb-3">
            <input  type="password"
                    class="form-control form-control-lg"
                    placeholder="Password"
                    formControlName="password">
            <span class="danger" 
                  *ngIf="(registerFormControl['password'].touched || submitted)
                  && registerFormControl['password'].errors?.['required']">
                  <i class="fa fa-exclamation-circle"></i>
                  <small>Password is required</small>
            </span>
            <span class="danger" 
                  *ngIf="registerFormControl['password'].touched && registerFormControl['password'].errors?.['invalidPassword']">
                  <i class="fa fa-exclamation-circle"></i>
                  <small>Password should have a minimum of 8 characters, at least 1 uppercase and lowercase</small> 
            </span>
            <!-- <i class="fa fa-check-circle"></i>
            <i class="fa fa-exclamation-circle"></i>
            <small>Error message</small> -->
            </div>

            <!-- Password Confirm input -->
            <div class="form-outline mb-3">
            <input  type="password" 
                    class="form-control form-control-lg"
                    placeholder="Confirm Password"
                    formControlName="confirmPassword"> 
            <span class="danger"
                  *ngIf="(registerFormControl['confirmPassword'].touched || submitted) 
                  && registerFormControl['confirmPassword'].errors?.['required']">
                  <i class="fa fa-exclamation-circle"></i>
                  <small>Confirm password is required</small>
            </span>
            <span class="danger"
                  *ngIf="registerFormControl['confirmPassword'].touched 
                  && registerFormControl['confirmPassword'].errors?.['passwordMismatch']">
                  <i class="fa fa-exclamation-circle"></i>
                  <small>Passwords do not match</small>
            </span>
            <!-- <span class="success" 
            *ngIf="registerFormControl['confirmPassword'].touched 
            && !registerFormControl['confirmPassword'].errors?.['passwordMismatch']">
            <i class="fa fa-check-circle"></i>
            <small>Passwords match</small> -->
          <!-- </span> -->

            <!-- <i class="fa fa-check-circle"></i>
            <i class="fa fa-exclamation-circle"></i>
            <small>Error message</small> -->
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label text-white" for="form2Example3">
                  Remember me
                </label>
              </div>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;" >Register</button>
            </div>
            <p class="small fw-bold mt-2 pt-1 mb-0 text-white">
              Already have an account? 
                <a routerLink="../login" class="text-white">LogIn</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>
