<button type="button" class="btn btn-primary" (click)="addNewTeam();">Add New Team</button>
<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Name</th>
        <th>State</th>
        <th>Number Of Players</th>
        <th>Number Of Coaches</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams">
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{team.name}}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{team.state}}</p>
        </td>
        <td>(number of players)</td>
        <td>(number of coaches)</td>
        <td><a [routerLink]="[team.teamId]">View</a></td>
      </tr>
    </tbody>
    <p *ngIf="!teams || teams.length <= 0">No Teams Found</p>
  </table>
